body {
    color: var(--bs-primary);
}

.carousel-inner {
    height: 95vh;
}

.own-carousel {
    margin-bottom: 40px;
}

.home-banner-title {
    opacity: 1;
    z-index: 2;
    font-size: 4rem;
    line-height: 4pc;
    color: var(--bs-white);
    margin-bottom: 1.5rem;
    font-family: Houschka-medium
 }
 .home-banner-content .text-img-container {
    opacity: 0;
    transition: all 0.3s ease-in;
 }

 .home-banner-content:hover .text-img-container {
    opacity: 1;

 }

 .home-banner-content:hover .text-img-container a {
    opacity: 1;
 }

 .home-banner-links .img-container {
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    opacity: 0.7;
 }

 .home-banner-links .img-container:hover {
    transform: scale(1.1);
    opacity: 0.4;
    cursor: pointer;
}

.home-banner-content {
    position: relative;
}

.home-banner-content h2 {
    position: absolute;
    top: 100px;
    color: var(--bs-white);
    left: 100px;
    z-index: 10;
}

.text-img-container {
    position: absolute;
    top: 170px;
    left: 100px;
}
.home-banner-content .home-banner-desc {

    z-index: 1;
    font-size: 1.8rem;
    color: var(--bs-primary);
    margin-bottom: 10px;
}

.home-banner-content a {

    z-index: 1;
    font-size: 1.6rem;
    text-decoration: none;
    opacity: 0;
}

.swiper-button-next-1  {
    position: absolute;
    top: 80vh;
    right: 100px;
    color: var(--bs-white);
    font-size: 25px;
    z-index: 1;
}

.swiper-button-next-1:hover {
    cursor: pointer;
}

.swiper-button-prev-2  {
    position: absolute;
    top: 80vh;
    left: 100px;
    color: var(--bs-white);
    font-size: 25px;
    z-index: 1;
}

.swiper-button-prev-2:hover {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

.home-banner-links img {
    overflow: hidden;

}
.home-banner-links {
    background-color: var(--bs-dark);
    opacity: 0.9;
}

.home-banner-links:hover {
    opacity: 1;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.img-container img{
    max-height: auto;
    float: left;
    max-width: 100%;
    max-height: 100%;
}

.img-container {
    max-width:100%;
    min-width:100%;
    min-height: 100%;
    margin: 0 auto;
    overflow:hidden;
    position: relative;
    max-height: 100%;
}

.img-container img {
    transition: all 4s ease-in-out;
    height: 90vh;
    width: 90vw;
    transform: scale(1);
}

.home-banner-progress-bar {
  margin: 0;
}

.home-banner .home-banner-carousel .home-banner-slider {
    width: 100%;
    margin: 0 auto;
    background-color: var(--bs-dark);
}

.home-banner .home-banner-carousel .home-banner-slider .home-banner-links .img-container img {
    transform: scale(1);
    transition: transform .1s ease-in-out;
    transition-delay: 1.2s;
    border: 1px solid var(--bs-dark);
}

.home-banner .home-banner-carousel .home-banner-slider.swiper-slide-active .home-banner-links .img-container img {
    transition: all 4s ease-in-out;
    transition-delay: 2s;
    transform: scale(1.1);
    will-change: auto
}

.hot-slide-item {
    display: block;
    height: 550px;
}



.hot-card {
    overflow: hidden;
    height: 100%;
}

.cta-link-focus {
    height: 800px;
}

.cta-link-focus .hot-card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: stretch
}

.cta-link-focus:active,
.cta-link-focus:active h1,
.cta-link-focus:active h2,
.cta-link-focus:active h3,
.cta-link-focus:active h4,
.cta-link-focus:active h5,
.cta-link-focus:active h6,
.cta-link-focus:active p,
.cta-link-focus:active span {
    text-decoration: underline!important;
    text-decoration-color: var(--bs-highlight)!important;
    text-decoration-thickness: 1.5px!important
}

 .cta-link-focus:hover {
    outline-offset: 4px!important;
    max-height: 200px!important;
    transform: scale(1.25);
    background: linear-gradient(0deg,var(--bs-dark) 25%,transparent);
    opacity: 1;
    color: var(--bs-primary);
}

.hot-slide-item .hot-card:after {
    background: linear-gradient(0deg,var(--bs-dark),transparent);
    opacity: .9;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
}

 .hot-card .whats-hot-card-img {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
}

.hot-card .hot-card-tags .tag-list {
    font-size: .875rem;
    line-height: 1pc;
    letter-spacing: .5px;
    color: var(--bs-dark);
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    background-color: var(--bs-white);
    color: var(--bs-secondary-i);
}

.rounded-pill {
    border-radius: 50rem!important;
}

.p-4 {
    padding: 1.5rem!important;
}
.w-100 {
    width: 100%!important;
}
.position-absolute {
    position: absolute!important;
}

 .hot-card .hot-card-body {
    left: 0;
    bottom: 40px;
    z-index: 1;
}

.hot-card .hot-card-body .hot-card-text {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color: var(--bs-white);
    margin-bottom: 0.5rem;
    transition: all .3s ease-in-out;
    max-height: 102px;
}
.cta-link-focus .hot-card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: stretch;
}

.hot-card .hot-card-body .hot-card-cta-link {
    font-family: Basis-bold;
    font-style: normal;
    letter-spacing: 2.1px;
    font-size: .875rem;
    line-height: 1.5rem;
}
.read-more-cta {
    font-family: Basis-bold;
    color: var(--bs-white);
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: .15em;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.position-relative {
    position: relative!important;
}

/* .hot-card .hot-card-body .hot-card-cta-link.article-ico:after {
    background-image: url(clientlib-site/resources/images/article-ico-w.svg);
} */

.hot-card .hot-card-body .hot-card-cta-link:after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    content: "";
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 1pc;
}


.cta-link-focus:hover {
    text-decoration: none!important;
}
a:hover {
    color: var(--bs-secondary-i);
    text-decoration: underline;
}
a {
    color: var(--bs-primary);
    text-decoration: none;
    background-color: transparent;
}

.cta-link-focus:hover .whats-hot-card-img {
    transform: scale(1.25);
}

.cta-link-focus:hover .hot-card-body .read-more-cta {
    color: var(--bs-secondary-i);
}

.blog__card__item {
    position: relative;
}

/* New carousel styling */

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
    z-index: 100;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 100;
    display: flex;
    align-items: end;
    margin-bottom: 50px;
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    z-index: 2000;
    top: 5rem;
}

.carousel-caption h5{
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: left;
}

.carousel-caption p{
    font-size: 2rem;
    font-weight: 800;
    line-height: 3rem;
    margin-top: 1rem;
    text-align: left;
}

.carousel-caption div{
    display: flex;
    justify-content: flex-start;

}

.carousel-caption div a.btn{
    background: linear-gradient(102.57deg, var(--bs-primary), var(--bs-primary-alpha) 100%, var(--bs-primary-beta) 0);
    border-radius: 6.25rem;
    font-size: 1.125rem;
    color: var(--bs-white);
    letter-spacing: .03125rem;
    padding: 9pt 2pc;
    font-family: Basis-regular;
    transition: all .5s;
}

.carousel-caption .carousel-secondary-head{
    opacity: 0;
    transition: all .2s ease-in-out;
}

.carousel-caption .tcs-primary-btn{
    opacity: 0;
    transition: all .2s ease-in-out;
}

.carousel-caption:hover .carousel-secondary-head{
    opacity: 1;
}

.carousel-caption:hover .tcs-primary-btn{
    opacity: 1;
}

.carousel-item {
    height: 95vh;
}

@media only screen and (max-width: 1158px) {
    .carousel-item  {
        height: auto;
        width: 100%;
    }
    .carousel-inner {
        height: auto;
    }
}

.footer__links_help {
    padding-left: 40px;
}

.footer__links_subs {
    padding: 0 40px 40px 40px;
}

.philosophy__item__content {
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer__contact {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.carousel-primary-head {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    letter-spacing: .3rem;
    line-height: 2rem;
    font-weight: 800;
    text-align: left;
    color: var(--bs-white);
    font-family: Houschka-medium;

}

.carousel-secondary-head {
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 200;
    text-align: left;
    font-family: Basis-regular;
    color: var(--bs-highlight);

}

span.carousel-primary-head, span.carousel-secondary-head {
    display: block;
}

.carousel-item img {
    transform: scale(1);
    transition: transform  3s ease-in;
}

.carousel-item:hover img {
    transform: scale(1.2);
}

.blog-item img {
    opacity: .9;
    /* filter: grayscale(100%); */
    transition: all .3s ease-in;
    cursor: pointer;
}


.blog-item:hover img {
    opacity: 1;
    /* filter: grayscale(0%); */
}

/* .carousel-item.active {

} */

.product__item__text {
    position: relative;
    justify-content: center;
    padding-left: 2rem; }

    .product__item__text h2 {
      font-weight: 800;
      font-size: 3rem;
      line-height: 3rem;
      color: var(--bs-dark);
      font-family: Houschka-medium;
      margin-bottom: 1rem; }

    .product__item__text h6 {
      font-weight: 400;
      font-size: 3rem;
      line-height: 3rem;
      color: var(--bs-primary);
      font-family: Houschka-medium;
      margin-bottom: 1rem; }
    .product__item__text span {
      height: 0px;
      display: inline-block;
      width: 200px;
      margin-bottom: 20px;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: .5px;
      color: var(--bs-dark);
      font-family: Basis-regular;}
    .product__item__text p {
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: .5px;
      color: var(--bs-dark);
      font-family: Basis-regular;
    }


      .service-text-container-1 {
        margin-top: 40px;
        height: 200px;
        justify-content: center;
        padding-left: 2rem;
    }

    .service-text-container-1  h1 {
        color: var(--bs-dark);
        font-size: 2rem;
    }

    .service-text-container-1 h3 {
        font-size: 3rem;
        line-height: 3rem;
        color: var(--bs-primary);
        font-family: Houschka-medium;
        margin-bottom: 1rem;

    }

    .service-text-container-1 p {
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: .5px;
        color: var(--bs-dark);
        font-family: Basis-regular;
    }

    .product__desc {
        padding: 20px;
        /* box-shadow: lightgray 1px 2px; */
        padding: 10px 30px;

    }



    .product__desc h1 {
      font-weight: 800;
      margin-top: 20px;
      font-size: 3rem;
      line-height: 3rem;
      color: var(--bs-primary);
      font-family: Houschka-medium;
      margin-bottom: 1rem;
    }

.product__desc-s {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color: var(--bs-dark);
    font-family: Basis-regular;
    margin: 15px 0px; }


.product__get__started-btns {
display: flex;
flex-direction: row;
padding: 20px 10px;
}
.product__get__started-btns input {
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--bs-white);
    margin: 5px 5px;
    font-size: 20px;
    width: 300px;
    border: 1px solid var(--bs-dark);
    color: var(--bs-dark);
}
.product__get__started-btns input:active, .product__get__started-btns input:focus {

    background-color:  var(--bs-white);
    color:  var(--bs-primary);
    border: 1px solid var(--bs-primary);
}
.product__get__started-btns button {
    outline: none;
    border: 1px solid var(--bs-dark);
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--bs-white);
    color:  var(--bs-dark);
    font-size: 18px;
    font-weight: 800;
    margin: 5px 5px;
    width: 150px;
    transition: all .5s ease-in-out;
}

.product__get__started-btns button:hover {
    background-color:  var(--bs-white);
    color:  var(--bs-primary);
    border: 1px solid var(--bs-primary);
    cursor: pointer;
    transform: scale(1.05);
}
.service__desc {
display: flex;
align-items: center;
flex-direction: column;
}


.service__desc h1 {
    font-weight: 800;
    margin-top: 20px;
    font-size: 3rem;
    line-height: 3rem;
    color:  var(--bs-primary);
    font-family: Houschka-medium;
    margin-bottom: 1rem;
}

.service__desc p {
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color:  var(--bs-dark);
    font-family: Basis-regular;
    margin: 15px 0px;
}


.service__work {
    margin-top: 50px;
    margin-left: 60px; }
.service__work h1 {
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 3rem;
    line-height: 3rem;
    color:  var(--bs-primary);
    font-family: Houschka-medium;
    margin-bottom: 1rem;
}

.service__work__item {
    margin: 20px; }
.service__work__item h1 {
font-size: 24px;
color:  var(--bs-primary); }
.service__work__item span {
font-size: 15px;
font-weight: 200; }
.service__work__item_line {
color:  var(--bs-primary);
background-color:  var(--bs-primary);
display: block;
height: 2px;
width: 120px;
margin-bottom: 20px; }

.text-head {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
    color:  var(--bs-primary);
    font-family: Houschka-medium;
}

.text-para {
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color:  var(--bs-dark);
    font-family: Basis-regular;
}

.carousel-indicators button[data-bs-target] {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-left: 7px;
}

.carousel-indicators button[data-bs-target].active {
    background-color: var(--bs-primary);
}
