.philosophy__tag__image img{
    transform: scale(1);
    transition: all 3s ease-in;
   }

   .philosophy__tag__image {
    overflow: hidden;
   }

.philosophy__tag__image img:hover{
 transform: scale(1.2);
 cursor: pointer;
}


.whats-hot-card-img {
    background-image: url("/img/products/ai_newspaper.png");
}

.work-container {
    margin-top: 20px;
    margin-bottom: 20px;
}


.know-us-container {
    width: 100%;
    padding: 40px 60px;
    overflow: hidden;
    position: relative;
}


.know-us-container .image-container::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    content: "";
    top: 0;
    z-index: 1;
    opacity: .8;
}


.know-us-container img{
    height: inherit;
    width: 70%;
    overflow: hidden;
    position: relative;
}

.know-us-container .text-container-know {
    position: absolute;
    left: 45%;
    top: 25%;
    background-color: white;
    height: 40%;
    padding: 60px;

}

.text-container-know .small-head {
    font-size: 1.2rem;
    line-height: 3.5rem;
    letter-spacing: .3em;
    color: #747678;
    margin-bottom: 4rem;
    font-family: Basis-bold;
    text-transform: uppercase!important;
    font-weight: 500;
}

.text-container-know .large-head {
    font-family: Houschka-medium;
    font-size: 3rem;
    line-height: 4rem;
    color: #b03c00;
    margin-bottom: 1rem;
    font-weight: 200;
}

.text-container-know .cta-container {
    margin-top: 2rem;
    line-height: 2.5rem;
}

.text-container-know .cta-container .cta {
    font-family: Basis-medium;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: .03125rem;
    color: #000;

}

.text-container-know .cta-container .cta-btn {
    font-size: 20px;
   margin-left: 10px;
   background-color: black;
   color: white;
}

.btn-circle .fa {
    margin-top: 10px;
    margin-left: 10px;
}

.btn-circle {
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}


.text-container-know .text-content {
    font-family: Basis-regular;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: .03125rem;
    color: #5e6162;
    opacity: .9;
    margin-bottom: 0;
}

@keyframes hoverEffect {
    0% {
        transform: translateX(0px);

    }

    to {
        transform: translateX(10px);
    }
}

@-webkit-keyframes hoverEffect {
    0% {
        transform: translateX(0px);
    }

    to {
        transform: translateX(10px);
    }
}

.btn-circle .fa:hover {
    -webkit-animation: hoverEffect .75s;
    animation: hoverEffect .75s;
    cursor: pointer;
}



.newsletter {
    display: flex;
    height: 300px;
    width: 100%;
    background-color: #1e2222;

}

.newsletter img {
    width: 45%;
}

.text-container {
    padding-top: 3rem;
}

.text-container .email-check:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

.text-container-know {
    padding-left: 30px;
}

.signup-form-section h2{
    font-family: Houschka-medium;
    color: #F1D3B2;
    font-size: 3.5rem;
    line-height: 3.5rem;
}
.signup-right-content-para-p {
    font-family: Basis-regular;
    font-size: 1.5rem;
    line-height: 2pc;
    letter-spacing: .5px;
    color: #b4b4b8;
}

.form-element .form-control {
    font-family: Basis-regular;
    background: transparent;
    border: none;
    border-bottom: 1px solid #898a8d;
    border-radius: 0;
    padding: 1rem 2rem;
    height: 3.5rem;
    color: #F1D3B2;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: .5px;
}

.form-control:focus {
    outline: 0;
}

/* button style we also have and now implement this directly into the site */

.d-none {
    display: none;
}

.newsletter-image {
    padding-right: 100px;
}

/* header component other pages */

.head-section {
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.head-section img {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    animation: zoom-out 2s ease-in .5s;
    height: 100%;
    width: 100%;
}

.head-section video {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}


  @keyframes zoom-out {
    0% {
      transform: scale(1.2, 1.2); }

    100% {
      transform: scale(1, 1); } }

.head-section .overlay {

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    content: "";
    top: 0;
    z-index: 1;
    opacity: .8;
    background: linear-gradient(90deg, #000, transparent);
}

.image-content {
    position: absolute;
    top: 10rem;
    left: 15rem;
    color: white;
    z-index: 10;
}

.image-content span {
    display: block;
}

.image-content .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    line-height: 1rem;
    font-weight: 400;
}

.image-content .divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 0.1rem;
    width: 80vw;
    background-color: white;
}

.image-content .primary-head {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    letter-spacing: .3rem;
    line-height: 2rem;
    font-weight: 400;
}
.image-content .secondary-head {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
}


/* Product page design*/

.product__features ul {
    padding-left: 20px!important;
}

.product__show {
    overflow: hidden;
    padding-left: 0;
    margin-left: 15px;
}

.product__show img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    overflow: hidden;
}

.product__show img:hover {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
}

.product__new__img__container img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    transition: all .5s ease-in-out;
    transform: scale(1);
    overflow: hidden;
}

.product__new__img__container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product__new__img__container {
    overflow: hidden;
}


.features-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.feature_features_box_icon_title__1ZXm5 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.feature_features_box_icon_title__1ZXm5 img {
    vertical-align: middle;
}
.feature_features_box_icon_title__1ZXm5 h4 {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.feature_features_box_icon_title__1ZXm5 p {
    margin-bottom: 0 !important;
    line-height: 28px !important;
    font-size: 18px !important;
}

.feature_features_box__zoDeV {
 padding: 10px;

}

.feature_features_box_wrapper__B4aMP .card {
    background: #FED8A5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FED8A5, #60FBE1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FED8A5, #60FBE1);
}

/* services styles*/

.services-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    color: grey;
}

.whatsNew_card {
    cursor: pointer;
    border-radius: 35px;
    /* border: 1.842px solid hsla(0, 0%, 100%, .1); */
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    /* background: radial-gradient(90.28% 66.78% at 50% 0, #503548 0, #2d115f 100%); */
}
.whatsNew_card:hover {
    box-shadow: grey 1px 1px;
}

.whatsNew_card:active {
    box-shadow: grey 2px 2px;
}

.whatsNew_icon img{
    margin-top: -20px;
    background-color: white;
}

.services-container .card {
    margin-top: 50px;
}

.whats_container {
    padding: 10px;
}

.service-text-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
}

.service-text-container h3 {
    font-size: 3rem;
    line-height: 3rem;
    color: #000;
    font-family: Houschka-medium;
    margin-bottom: 3rem;
}

.service-text-container p {
    font-size: 1.35rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color: #000;
    font-family: Basis-regular;
}

.service-image-container img {

    height: 400px;
}

.service-intro-container {
    margin-bottom: 20px;
}

.service-intro-row {
    margin-bottom: 40px;
}

.whatsNew_card-service h4 {
    color: orangered;
}

.whatsNew_card-service p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
    color: grey;
    letter-spacing: 1px;
}
